{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% block title %}
    <title>Goals List</title>
{% endblock %}

{% block content %}
    <div class="page-heading products-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>new arrivals</h4>
                        <h2>sixteen products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% render_partial 'item-category-partial' %}
                </div>
                <div class="col-md-12">
                    <div class="filters-content">
                        <div class="row grid" style="position: relative; height: 846.022px;">
                            {% for item in page_obj %}
                                {% include 'item/item_component.html' with item=item %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="pages">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                    class="fa fa-angle-double-left"></i></a></li>
                        {% endif %}
                        {% for num in paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                            {# this part allows you to limit the range of numbers shown in paginator part #}
                            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
