{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    {% block title %}{% endblock %}
    {% include 'shared/_HeaderReferences.html' %}
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
{% render_partial 'header' %}
{% block content %}{% endblock %}
{% render_partial 'footer' %}
{% include 'shared/_FooterReferences.html' %}
</body>
</html>