{% url 'home' as home %}
{% url 'items' as items %}
{% url 'home' as home %}
{% url 'home' as home %}
{% url 'login' as login %}
{% url 'register' as register %}
{% url 'logout' as logout %}
<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>Dreams <em>Manifesting</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home %} active {% endif %}" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if request.path == items %} active {% endif %}" href="{% url 'items' %}">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about-us' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'contact-us' %}>Contact Us</a>

                    </li>
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link{% if request.path == login %} active {% endif %}"
                               href="{% url 'login' %}">Log in</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if request.path == register %} active {% endif %}"
                               href="{% url 'register' %}">Register</a>
                            {% else %}
                        </li>
                        <li class="nav-item">
                        <a class="nav-link{% if request.path == logout %} active {% endif %}" href="{% url 'logout' %}">Logout</a>
                    {% endif %}

                    <li class="nav-item">
                            <div class="search_box col-xs-2">
                                <form action="/search" method="get">
                                    <input type="text" placeholder="search" value="{{ request.GET.q }}" name="q"/>
                                </form>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>